In [1]:
import pandas as pd

In [2]:
X = pd.read_csv("X.csv")

In [3]:
X.head()

,engine_id,aircraft_id,flight_datetime,flight_phase,engine_position,n1_modifier,number_blades,engine_family,engine_type,manufacturer,...,ZT1A,ZVIAS,ZWBP1,ZWBP1_8E,ZWBP2,ZWBP2_8E,ZXM,IBE,IBP,IAIE
0,14aa1250a60229a6f0fc62e973fe757d076f897e4bc93a...,adb019dcde61d092941e0fec4e89b405130df238877e26...,2022-02-08 03:50:15,TAKEOFF,1,6.0,36.0,CFM56-5B,CFM56-5B4,CFM INTERNATIONAL,...,-2.90,NaN,1.168449,NaN,1.190495,NaN,0.2470,1.0,NaN,1.0
1,6dc714d821a73d97c06143281b622c4e45c791985425c8...,31baf613cc66c483d5576812d060e54d64275325be437f...,2022-07-24 02:46:01,CRUISE,2,0.0,28.0,CF34-8E,CF34-8E5,GE AIRCRAFT ENGINES,...,-21.10,261.299988,NaN,28.8281,NaN,26.4062,0.7110,1.0,1.0,0.0
2,dda2a4e5f8b7c39356d9da1279e61b44bf4362c6cf46a0...,47ea147feec375157fdc4ef94bce6803be3f847399e52a...,2022-05-31 22:40:14,TAKEOFF,2,6.0,36.0,CFM56-5B,CFM56-5B4,CFM INTERNATIONAL,...,17.50,NaN,0.088185,NaN,0.088185,NaN,0.2420,0.0,NaN,0.0
3,f5a5af90e581be9a4b812c1000c5a9fa938741889bab62...,30c6570a99d5554ca6975f2ca386e7d3af1b3b92dc063e...,2022-05-25 23:50:56,CRUISE,2,5.0,36.0,CFM56-5B,CFM56-5B4,CFM INTERNATIONAL,...,-15.40,NaN,0.925940,NaN,0.925940,NaN,0.7690,1.0,NaN,NaN
4,364a94e57c5e7705c650bdadda955186d3a8f9d96a3d9e...,86b6b690d8ede50869aa2562b655a65abd786d169572b4...,2022-06-29 22:08:24,CRUISE,1,4.0,24.0,CFM56-7,CFM56-7B27/B1,CFM INTERNATIONAL,...,-20.75,NaN,NaN,NaN,NaN,NaN,0.7807,1.0,1.0,NaN

In [21]:
y = pd.read_csv("y.csv")

In [22]:
y.head()

,flight_datetime,flight_phase,engine_id,BRAT,DEGT,DELFN,DELN1,DELVSV,DPOIL,EGTC,...,SLOATL_D,VSVNOM,WBE,WBI,WFMP,ZPCN25_D,ZT49_D,ZTLA_D,ZTNAC_D,ZWF36_D
0,2022-02-08 03:50:15,TAKEOFF,14aa1250a60229a6f0fc62e973fe757d076f897e4bc93a...,0.920896,NaN,18.760359,6.457291,NaN,NaN,NaN,...,0.81176,NaN,1.16845,NaN,NaN,0.050003,-2.000000,NaN,NaN,NaN
1,2022-07-24 02:46:01,CRUISE,6dc714d821a73d97c06143281b622c4e45c791985425c8...,1.000000,24.116821,NaN,NaN,NaN,NaN,684.758179,...,NaN,NaN,NaN,0.000000,1648.92749,0.125000,8.062500,0.03125,NaN,9.375000
2,2022-05-31 22:40:14,TAKEOFF,dda2a4e5f8b7c39356d9da1279e61b44bf4362c6cf46a0...,0.000000,NaN,21.471327,7.321465,NaN,NaN,NaN,...,3.35881,NaN,NaN,NaN,NaN,-0.050003,-9.000000,NaN,NaN,NaN
3,2022-05-25 23:50:56,CRUISE,f5a5af90e581be9a4b812c1000c5a9fa938741889bab62...,0.893764,-16.211914,NaN,NaN,1.7,-23.360001,677.211914,...,NaN,0.0,0.92594,-0.106236,2843.62402,-0.099998,3.799988,NaN,-16.5,-5.511719
4,2022-06-29 22:08:24,CRUISE,364a94e57c5e7705c650bdadda955186d3a8f9d96a3d9e...,1.000000,25.960205,NaN,NaN,NaN,-15.086960,648.039795,...,NaN,NaN,NaN,1.000000,2659.71655,-0.029999,5.000000,NaN,NaN,-35.650146

In [36]:
df_merged = pd.merge(X, y, how="inner", on=["engine_id", "flight_datetime", "flight_phase"])

In [37]:
df_merged

,engine_id,aircraft_id,flight_datetime,flight_phase,engine_position,n1_modifier,number_blades,engine_family,engine_type,manufacturer,...,SLOATL_D,VSVNOM,WBE,WBI,WFMP,ZPCN25_D,ZT49_D,ZTLA_D,ZTNAC_D,ZWF36_D
0,14aa1250a60229a6f0fc62e973fe757d076f897e4bc93a...,adb019dcde61d092941e0fec4e89b405130df238877e26...,2022-02-08 03:50:15,TAKEOFF,1,6.0,36.0,CFM56-5B,CFM56-5B4,CFM INTERNATIONAL,...,0.811760,NaN,1.168450,NaN,NaN,0.050003,-2.000000,NaN,NaN,NaN
1,6dc714d821a73d97c06143281b622c4e45c791985425c8...,31baf613cc66c483d5576812d060e54d64275325be437f...,2022-07-24 02:46:01,CRUISE,2,0.0,28.0,CF34-8E,CF34-8E5,GE AIRCRAFT ENGINES,...,NaN,NaN,NaN,0.000000,1648.92749,0.125000,8.062500,0.031250,NaN,9.375000
2,dda2a4e5f8b7c39356d9da1279e61b44bf4362c6cf46a0...,47ea147feec375157fdc4ef94bce6803be3f847399e52a...,2022-05-31 22:40:14,TAKEOFF,2,6.0,36.0,CFM56-5B,CFM56-5B4,CFM INTERNATIONAL,...,3.358810,NaN,NaN,NaN,NaN,-0.050003,-9.000000,NaN,NaN,NaN
3,f5a5af90e581be9a4b812c1000c5a9fa938741889bab62...,30c6570a99d5554ca6975f2ca386e7d3af1b3b92dc063e...,2022-05-25 23:50:56,CRUISE,2,5.0,36.0,CFM56-5B,CFM56-5B4,CFM INTERNATIONAL,...,NaN,0.0,0.925940,-0.106236,2843.62402,-0.099998,3.799988,NaN,-16.5,-5.511719
4,364a94e57c5e7705c650bdadda955186d3a8f9d96a3d9e...,86b6b690d8ede50869aa2562b655a65abd786d169572b4...,2022-06-29 22:08:24,CRUISE,1,4.0,24.0,CFM56-7,CFM56-7B27/B1,CFM INTERNATIONAL,...,NaN,NaN,NaN,1.000000,2659.71655,-0.029999,5.000000,NaN,NaN,-35.650146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95583,14aa1250a60229a6f0fc62e973fe757d076f897e4bc93a...,adb019dcde61d092941e0fec4e89b405130df238877e26...,2022-01-30 10:46:42,CRUISE,1,6.0,36.0,CFM56-5B,CFM56-5B4,CFM INTERNATIONAL,...,NaN,0.0,0.947987,-0.084955,2824.59106,0.049995,-1.000000,NaN,6.5,-8.818359
95584,44e8bfbc36a62fad6ace2953e30c032da88adf250d8efe...,a3ee6d52224435498a06cbd1b6fbddb98d4c0ae15f52ad...,2022-01-24 20:33:15,TAKEOFF,2,0.0,28.0,CF34-8E,CF34-8E5,GE AIRCRAFT ENGINES,...,-2.727682,NaN,NaN,NaN,NaN,0.171844,8.625000,NaN,NaN,-21.250000
95585,b0e42606985470f2e2d77f1ad14bdd391637cc1f5c220b...,ac5a9ee6985da1ed0780c817d7ac0cc5ec571d9c55f56c...,2022-07-17 10:47:22,CRUISE,1,0.0,28.0,CF34-8E,CF34-8E5,GE AIRCRAFT ENGINES,...,NaN,NaN,NaN,0.000000,1963.04968,-0.046852,4.812500,-0.015648,NaN,5.439941
95586,ed163ff56745c53c98f72a1f2d2b989f7472e9231378c7...,e8212b638378823bae27aae066d415989bc85730398b72...,2022-05-25 20:26:48,TAKEOFF,1,0.0,28.0,CF34-8E,CF34-8E5,GE AIRCRAFT ENGINES,...,-5.979389,NaN,NaN,NaN,NaN,-0.171898,20.125000,NaN,NaN,26.000000
95587,9a124d266cba9143ef7685c7bc99c07b48aaa8f1822f02...,467295d533d5ee94a8265c44774fe307ad915b29096dda...,2022-03-25 16:14:04,CRUISE,2,0.0,28.0,CF34-8E,CF34-8E5,GE AIRCRAFT ENGINES,...,NaN,NaN,NaN,0.000000,1652.96899,0.054703,9.250000,0.093750,NaN,-50.690064

In [38]:
#разделение на takeoff и cruise

takeoff_df = df_merged[df_merged["flight_phase"] == "TAKEOFF"]
cruise_df = df_merged[df_merged["flight_phase"] == "CRUISE"]

Число типов двигателей

In [39]:
df_merged["engine_type"].value_counts()

CF34-8E5         36674
CFM56-7B26       26236
CFM56-5B4        20742
CFM56-5B3         8134
CFM56-7B27/B1     3802
Name: engine_type, dtype: int64

In [40]:
engine_types = ["CF34-8E5", "CFM56-7B26", "CFM56-5B4", "CFM56-5B3", "CFM56-7B27/B1"]

In [25]:
targets = y.columns.to_list()

In [41]:
takeoff_df_engines = []
cruise_df_engines = []

for en in engine_types:
    buf = takeoff_df[takeoff_df["engine_type"] == en]
    takeoff_df_engines.append(buf)
    if '/' in en:
        buf.to_csv("./data/takeoff_" + "CFM56-7B27-B1" + ".csv")
    else:
        buf.to_csv("./data/takeoff_" + en + ".csv")
    
    buf = cruise_df[cruise_df["engine_type"] == en]
    cruise_df_engines.append(buf)
    if '/' in en:
        buf.to_csv("./data/cruise_" + "CFM56-7B27-B1" + ".csv")
    else:
        buf.to_csv("./data/cruise_" + en + ".csv")